

.chart {
  background: white;
  width: 100%;
  max-width: 900px;

  height: 400px;
  border: 1px dotted #555;  
}
body, html {
  height: 100%;
}


input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

